<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table id="users-table", data-source="<%= users_path(format: :json) %>">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
